In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = requests.get(url).text

In [3]:
soup = BeautifulSoup(html, "html5lib")

In [4]:
Toronto_data = pd.DataFrame(columns=['PostalCode', 'Borough'])
for table in soup.find_all("table", attrs={'rules':'all'}):
    for row in table.find_all('td'):
        col = row.find_all('td')
        PostalCode = row.b.text
        Borough = row.span.text
        Toronto_data = Toronto_data.append({'PostalCode': PostalCode, 'Borough': Borough}, ignore_index = True)
        
Toronto_data.head()

  PostalCode                                       Borough
0        M1A                                  Not assigned
1        M2A                                  Not assigned
2        M3A                         North York(Parkwoods)
3        M4A                  North York(Victoria Village)
4        M5A  Downtown Toronto(Regent Park / Harbourfront)

In [5]:
Toronto_data[['Borough', 'Neighborhood']] = Toronto_data['Borough'].str.split("(", n=1, expand = True)
Toronto_data.head()

  PostalCode           Borough                 Neighborhood
0        M1A      Not assigned                         None
1        M2A      Not assigned                         None
2        M3A        North York                   Parkwoods)
3        M4A        North York            Victoria Village)
4        M5A  Downtown Toronto  Regent Park / Harbourfront)

In [6]:
# Removing all spacial character
Toronto_data['Neighborhood'] = ((Toronto_data['Neighborhood'].str.replace("/", ",")).str.replace(")", ""))
Toronto_data.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                        None
1        M2A      Not assigned                        None
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park , Harbourfront

In [7]:
# Remove the Not assigned Borough

Toronto_data = (Toronto_data[~Toronto_data['Borough'].isin(['Not assigned'])])
Toronto_data.head()

  PostalCode           Borough                       Neighborhood
2        M3A        North York                          Parkwoods
3        M4A        North York                   Victoria Village
4        M5A  Downtown Toronto         Regent Park , Harbourfront
5        M6A        North York  Lawrence Manor , Lawrence Heights
6        M7A      Queen's Park      Ontario Provincial Government

In [8]:
Toronto_data.reset_index(drop=True, inplace=True)
Toronto_data.head(12)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Queen's Park,Ontario Provincial Government
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Malvern , Rouge"
7,M3B,North York,Don MillsNorth
8,M4B,East York,"Parkview Hill , Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park , Princess Gardens , Martin Gr..."

In [9]:
Toronto_data.shape

(103, 3)